---
const { imageSrc, imageAlt, to } = Astro.props;
---

<a href={to}>
  <div
    class="border-2 border-black rounded-3xl shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] transition-all hover:translate-x-[3px] hover:translate-y-[3px] hover:shadow-none cursor-pointer relative group"
  >
    <img src={imageSrc} alt={imageAlt} class="w-full" />
    <div
      class="group-hover:block absolute bottom-4 right-8 rounded-full p-4 group-hover:bg-white border-2 shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] group-hover:shadow-none border-black bg-white"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-8 h-8 text-black"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
        ></path>
      </svg>
    </div>
  </div>
</a>
