

<html style="height: 100%">
  <head>
    <title>Kevin Huang - Resume</title>
  </head>
  <body style="margin: 0; height: 100%">
    <embed
      src="/resume.pdf"
      width="100%"
      height="100%"
      type="application/pdf"
    />
  </body>
</html>
