---
import Card from "./Card.astro";
---

<div class="grid grid-cols-1 rounded-3xl gap-8">
  <Card title="Background">
    <div class="font-medium text-lg">
      <p>
        👋 Hello! I'm a software developer and UNSW computer science graduate
        with a passion for emerging web technologies.
      </p>
      <br />
      <p>
        At present, I specialize in front-end technologies using TypeScript,
        React, TailwindCSS, and NextJS. I've also had the pleasure of engaging
        with DevOps tools like Webpack, as well as writing scripts for CI/CD
        deployments and engaging in TDD. Additionally, I've crafted internal
        scripts to enhance an IoT product and explored open-source OpenWRT tools
        for Wi-Fi configuration.
      </p>
      <br />
      <p>
        Enthusiastic about learning more things in the tech realm, I eagerly
        anticipate the opportunity to fly to the moon wherever I work 🌙🚀
      </p>
    </div>
  </Card>

  <Card title="Education">
    <section>
      <h2 class="section-title">Education</h2>
      <div class="font-medium text-lg">
        <p>UNSW Computer Science / Commerce (Information Systems)</p>
      </div>
    </section>
    <br />
    <section>
      <h2 class="section-title">Skills</h2>
      <div class="font-medium text-lg">
        <p>
          Javascript, Typescript, React, Tailwind, NodeJS, Astro, Express, SQL
        </p>
      </div>
    </section>
  </Card>
</div>
