---
const { title } = Astro.props;
---

<div
  class="w-full border-2 border-black bg-orange-200 font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] rounded-3xl"
>
  <div class="border-b-2 border-black p-4">
    <h2 class="text-lg">{title}</h2>
  </div>
  <div class="bg-white py-8 px-4 rounded-b-3xl">
    <slot />
  </div>
</div>
