---
import DesktopNav from "./DesktopNav.astro";
import MobileNavDropdown from "./MobileNavDropdown.astro";
import NavItem from "./NavItem.astro";
---

<div class="md:hidden block">
  <MobileNavDropdown />
</div>
<div class="md:block hidden">
  <DesktopNav />
</div>
