<div class="flex items-center text-left mr-auto">
  <div
    class="mr-auto text-xl md:text-4xl text-left font-extrabold bg-yellow-500 shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] border-2 border-black p-4 rounded-2xl"
  >
    &lt;PastExperiences /&gt;
  </div>
</div>
