---
// pass in props
const { datePeriod, jobTitle, jobDescription, jobImageSrc } = Astro.props;
---

<>
  <div
    class="pb-8 sm:pb-12 lg:pb-8 dark:border-gray-700 p-2 sm:p-4 text-sm sm:text-base rounded-md border-2 border-black bg-rose-500 font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)]"
  >
    <p
      class="absolute top-2 py-1.5 px-4 bg-white border-black border-2 rounded-full text-md font-semibold transform -translate-y-1/2 text-gray-900"
    >
      {datePeriod}
    </p>
    <div class="overflow-hidden lg:relative lg:py-2">
      <div
        class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-2 lg:max-w-7xl flex flex-col gap-4 lg:gap-24"
      >
        <div>
          <div class="mt-4">
            <div class="sm:max-w-2xl">
              <div
                class="flex md:flex-row flex-col items-start md:items-end gap-4 border-b-2 border-black py-4"
              >
                <h1 class="text-2xl font-bold tracking-tight sm:text-2xl py-4">
                  {jobTitle}
                </h1>
                <img
                  class="p-4 bg-yellow-500 border-black border-2 shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] rounded-lg relative h-20 w-40 lg:h-28 lg:w-60"
                  src={jobImageSrc}
                  alt="OnSolution Webpage"
                />
              </div>

              <p class="mt-6 text-lg font-medium">
                {jobDescription}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>
