---
const { message } = Astro.props;
---

<div
  class="flex items-center justify-center border-2 border-black bg-yellow-200 p-2 px-8 font-bold shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] rounded-3xl"
>
  <div class="flex item-center gap-2">
    {message}
  </div>
</div>
