---
import "~/tailwind.css";

import Nav from "~/components/Nav.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Kevin Huang Portfolio</title>
  </head>
  <body class="bg-cyan-50">
    <div
      class="flex flex-col gap-8 items-center max-w-4xl mx-auto p-8 bg-orange-200 min-h-screen h-full"
    >
      <Nav />
      <slot />
    </div>
  </body>
</html>
